<h1 mat-dialog-title>{{ data.residuo }}</h1>
<hr>
<div *ngIf="data.esReciclable" id="esRec">RECICLABLE</div>
<div *ngIf="!data.esReciclable" id="noEsRec">NO RECICLABLE</div>
<br>
<div mat-dialog-content id="texto">
    <p>{{ data.detalle }}</p>
</div>
<div mat-dialog-actions *ngIf="data.esReciclable">
    <button class="btn btn-outline-success btn-block" (click)="dialogRef.close()">Entendido</button>
</div>
<div mat-dialog-actions *ngIf="!data.esReciclable">
    <button class="btn btn-outline-danger btn-block" (click)="dialogRef.close()">Entendido</button>
</div>