#esRec{
    color: green;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.2mm;
    margin: -10px auto;
}

#noEsRec{
    color: red;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.2mm;
    margin: -10px auto;
}

button{
    letter-spacing: 0.1mm;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

h1{
    margin: -10px auto;  
}

#texto{
    color:black;
    text-align: justify;
}