.mb-150{
    margin-bottom: 150px;
}
.bgLess{
    background-color: transparent;
}
.md{
    width: 45%
}

.sm{
    width: 20%;
}
.lg{
    width: 95%;
}

.btn-sm{
    width: 30px;
    height: 30px;
}
.m-a-sm{
    font-size: 15px;
    margin-bottom: 7px;
}

