<form>
    <div *ngIf="!loading && !error">
        <div class="container aparecer">
            <h2>Nueva publicación</h2>
            <hr/>
            <div *ngFor="let material of materiales; let i = index ">
                <mat-form-field class="example-full-width p-1">
                    <input type="text" placeholder="Seleccionar material..." name="tipo{{i}}" [(ngModel)]="materiales[i].tipo" aria-label="Text" matInput [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of tipoMateriales" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="example-full-width p-1">
                    <input type="number" matInput placeholder="Cantidad" name="cantidad{{i}}" [(ngModel)]="materiales[i].cantidad">
                </mat-form-field>

            </div>
            <div class="row justify-content-center ">
                <button type="button" class="btn btn-primary btn-block" (click)="AddElement()">Agregar nuevo residuo <i class="mover material-icons">
            cached
        </i></button>
            </div>
        </div>
    </div>
    <app-loading *ngIf="loading"></app-loading>
</form>