.nuevoPedido {
  position: fixed;
  bottom: 80px;
  right: 25px;
}

.nuevoPedido:focus {
  animation-name: click;
  animation-duration: 0.5s;
}

@keyframes click {
  0% {
    margin-bottom: 0px;
  }
  50% {
    margin-bottom: 25px;
  }
  100% {
    margin-bottom: 0px;
  }
}

.material-icons {
  color: #fff;
}
