<div class="bloque">
    <div class="avatar">
        <img [src]="usuario | imagen | safeHtml">
    </div>
</div>

<div class="nombre">
    <h3>{{ usuario.nombre }} {{ usuario.apellido }}</h3>
</div>

<form class="example-form" *ngIf="!loading">
    <mat-form-field class="example-full-width">
        <input matInput readonly="true" readonly="true" placeholder="Email" [value]="usuario.email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput readonly="true" placeholder="Dirección" value="Lima 775">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput readonly="true" placeholder="Localidad" value="CABA">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput readonly="true" placeholder="Puntos" value="40">
    </mat-form-field>

    <button mat-stroked-button color="primary" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
    </button>

</form>
<app-loading *ngIf="loading"></app-loading>