.seccion {
  height: 100%;
  position: relative;
  top: 50px;
  text-align: center;
}

.seccion div {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.seccion div:hover {
  cursor: pointer;
}

.seccion div img {
  transition: 0.5s;
  border-radius: 5%;
}

.seccion div img:hover {
  transform: scale(1.07, 1.07);
}

.tip {
  font-size: 1rem;
}

.card {
  transition: 0.3s;
  border: #98ff8b solid 1.2px;
  border-radius: 10px;
  padding: 10px;
}

.card:hover {
  box-shadow: 5px 5px 8px 5px #98ff8b;
}

.shadow {
  box-shadow: 2px 2px 3px 4px #6d6d6d;
}

.mt {
  margin-top: 0px;
}

i {
  float: left;
  animation-name: 'vibrar';
  animation-duration: 2s;
  transition: 0.5s;
}

@keyframes vibrar {
  from {
    transform: rotate (200deg);
  }
  to {
    transform: rotate (-200deg);
  }
}

.centrado {
  text-align: center;
}

// .aparecer {}
.alert {
  margin-top: 30px;
  background-color: #bcff8a;
  padding: 20px;
}

.radius {
  border-radius: 5px;
}

@media only screen and (max-width: 910px) {
  img {
    height: auto;
    max-width: 100%;
  }
  .divisor {
    display: none;
    height: 250px;
  }
}

@media only screen and (max-width: 606px) {
  img {
    height: 150px;
    width: 150px;
  }
  .aparecer .seccion {
    top: 50px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    margin-bottom: 20px;
  }
}
