<div class="aparecer container">
    <div class="alert shadow radius centrado fadeIn" *ngIf="showTip">
        <i class="material-icons">
            notifications_none
        </i>
        <span><strong>¿Sabías qué?</strong> </span>
        <span class="centrado tip"> {{tip}}</span>
    </div>
    <section class="seccion ">
        <div class="card" (click)="redirigir('retirar')">
            <img src="../../../assets/images/retira.png" width="400px" height="400px">
            <h3 class="text-center">Retirá</h3>
        </div>
        <div class="card" (click)="redirigir('ofrecer')">
            <img src="../../../assets/images/tacho_basura.jpg" width="400px" height="400px">
            <h3 class="text-center">Ofrecé</h3>
        </div>
    </section>
</div>