.margen-b {
  margin-bottom: 70px;
}

.item {
  border: 1px solid grey;
  // height: 140px;
  transition: 0.5s;
  width: 33%;
  .item:hover {
    transform: scale(1.5, 1.5);
  }
  img {
    height: 100%;
    width: 100%;
  }
}

.mat-card {
  padding: 3px;
}

.mat-card-image:first-child {
  /* margin-top: -16px; */
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.mat-card-image {
  width: calc(100% + 32px);
  margin: 0 auto !important;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

mat-form-field {
  margin-top: 10px;
}

.card {
  transition: 0.5s;
}

.card:active {
  transform: scale(1.2, 1.2);
  z-index: 100;
}

mat-chip-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.6rem;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  background-color: #00c853;
  color: white;
}

.mat-flat-button.mat-accent,
.mat-raised-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  background-color: white;
}
