.bg-grey{
    background-color: #F3F3F3
}

.awardCard
{
    max-height: 100px ;
    overflow-y: auto;
    margin: 5% ;
    margin-top: 30px;
}

.border-r-green
{
    border-right: 4px solid #00c853;
}